.form-container .sign-up-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-container .sign-in-container {
    display: flex;
    flex-direction: column;
}

.intsignup1 {
    margin-bottom: 10px;
}

.btnsigininupcon {
    width: 100%;
}

.btnsigninup {
    border-radius: 5px;
    border: 1px solid #FFF562;
    background-color: #FFF562;
    color: black;
    font-size: 16px;
    padding: 10px;
    transition: transform 80ms ease-in;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnsigninup:active {
    transform: scale(0.95);
}

.btnsignupgo {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: white;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    transition: transform 80ms ease-in;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnsignupgo:active {
    transform: scale(0.95);
}

.btntext {
    margin-left: 10px;
    text-align: center;
}

.btnghost {
    background-color: white;
    border: white;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    transition: transform 80ms ease-in;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnghost:active {
    transform: scale(0.95);
}

.form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.forinpsig {
    margin-bottom: 10px;
    width: 100%;
}

.taginput,
.taginput:focus {
    border-radius: 5px;
    background-color: #eee;
    border: none;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    height: min-content;
    font-size: 14px;
}

.remmebtn {
    text-align: start;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 600px;
    margin-top: 60px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FFF562;
    background-image: url("https://res.cloudinary.com/dfy5vakwb/image/upload/c_scale,w_449/v1639174699/bibi/Inicio.de.sesion/back_3__Mesa_de_trabajo_1_atqyz2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}