<div class="navbar">

  <div class="logsba">
    <a href="/"><img src="https://res.cloudinary.com/dfy5vakwb/image/upload/c_scale,w_80/v1630947355/bibi/logo.png" alt=""></a>
    <div class="sback">
        <input class="form-control" type="text" placeholder="Explorar...">
      <button class="sbtn"><i class="fas fa-search"></i></button>
    </div>  
  </div>
  
    <div id="mtog">
      <ul id="mtogb">
        <a href="#">Agregar articulo</a>
        <i class="fas fa-bars fa-2x "></i>
      </ul>
    </div>


</div>