<div class="cont-gen">
  <div class="info-ap">

    ARRENDATARIO
    Cuales son los requisitos del arrendatario
    ¿Qué tipos de casos puede el arrendatario reportar?
    •	Artículo no recibido 
    •	El artículo no funciona durante el alquiler
    •	El objeto no es como se describe
    •	El artículo no se puede devolver
    Informar un caso como arrendatario

  </div>
</div>