<div class="cont-gen">
  <div class="info-ap">

    ARRENDADOR
    ¿Qué es la garantía del arrendador?
    ¿Cuáles son los requisitos de la garantía del arrendador?
    Cual es la responsabilidad del arrendador
    ¿Qué tipo de casos puede el arrendador reportar?
    •	Artículo no devuelto > $25,000
    •	Artículo no devuelto < $25,000
    •	Articulo dañado
    •	Regreso tardío
    Reportar en caso de no devolución con valor mayor a 
    Reportar en caso de no devolución con valor menor a 
    Reportar en caso de daño

  </div>
</div>