<div class="congeninf">
  <div class="conintinfo">
  <h1>Aviso de privacidad</h1>
    <h3 class="subtitinf">¿Quienes somos?</h3>
      <p>Somos BiBi Limited (eso es "nosotros", "nuestro", "nos") y operamos bajo el nombre de BiBi. La dirección de nuestra oficina registrada es 9th Floor 107 Cheapside, Londres, Reino Unido, EC2V 6DN. Nuestro número de empresa es 09927338.</p>
    <h3 class="subtitinf">¿Qué información tenemos sobre usted?</h3>
      <p>Información que envía a través de nuestra aplicación o sitio web
	Para ayudar a que BiBi sea un lugar seguro para prestar y pedir prestado, necesitamos cierta información para verificar su cuenta. Estos serán algunos o todos los siguientes: su nombre, identificación, dirección de correo electrónico, número de teléfono, una fotografía selfie, dirección o información sobre su empleo o estudios.
	También podemos recopilar información de las comunicaciones que realiza a través de la plataforma y otra información sobre cómo utiliza la aplicación y el sitio web.
Información sobre cómo usa su teléfono
	Esto puede incluir su red móvil, dirección IP o sistema operativo y la configuración de su teléfono.
Información a la que nos da permiso para acceder en su teléfono
	Estas son cosas para las que nos das permiso explícito para verlas. Esto puede incluir sus fotos y cámara, para que pueda publicar fotos de sus artículos, y su geolocalización para que podamos mostrarle los artículos más relevantes.
Información de cuentas de redes sociales
	Información de cualquier cuenta de redes sociales que comparta con nosotros o con la que se registre.
Información de cookies
	Al utilizar el sitio web y / o la aplicación de BiBi, usted acepta nuestro uso de cookies:
	Usamos cookies de sesión, persistentes y de terceros para rastrear lo que está haciendo en el sitio con el fin de ayudarnos a mejorarlo y brindarle una mejor experiencia en el futuro. Tenga en cuenta que las cookies no almacenan sus datos bancarios.
	Puede desactivar las cookies en cualquier momento (aunque esto reducirá la calidad de su experiencia de usuario). Exactamente cómo dependerá de la configuración de su navegador o teléfono: intente buscar Ayuda en la barra de herramientas de su navegador o vaya a la configuración de su teléfono para cambiar los controles de cookies.</p>

    <h3 class="subtitinf">¿Cómo usamos su información?</h3>
      <p>Para proporcionar, analizar y mejorar el servicio BiBi, utilizamos sus datos para:
	Permitirle utilizar el servicio BiBi, comunicarse con otros usuarios, acceder al servicio de atención al cliente y recibir comunicaciones y notificaciones relevantes de nuestra parte.
	Comunicarse con usted por correo electrónico, SMS o teléfono si necesitamos enviarle información relacionada con su cuenta BiBi.
Para que BiBi sea un lugar seguro para prestar y pedir prestado y para cumplir con nuestras obligaciones legales, utilizamos sus datos para:
	Busque su registro en agencias de inmigración y prevención de fraude.
	Prevenir actividades ilegales como blanqueo de capitales, evasión fiscal y fraude.
	Haga cumplir nuestros Términos de servicio y otras políticas y resuelva cualquier disputa con cualquiera de nuestros Miembros.
Para ejercer nuestros intereses legítimos (que no implica anular sus derechos de privacidad), usamos sus datos para:
	Comercialice productos, servicios o nuevas funciones que creemos que le gustarán, en la aplicación, en línea o por mensaje de texto y correo electrónico.
</p>

<h3 class="subtitinf">¿Con quién lo compartimos?</h3>
<p>Nunca hemos vendido ni venderemos sus datos a terceros. Podríamos compartir su información personal con:
	Cualquiera que trabaje para nosotros, si lo necesita para hacer su trabajo. Esto es solo según sea necesario.
	Cualquier organización que respalde cualquiera de nuestros servicios que utilice, cuando lo necesite para ofrecer esos servicios, incluidos:
	Stripe, nuestros procesadores de pagos, que guardan los detalles de sus alquileres con nosotros para verificar su pago. Estos pueden incluir su nombre, identificación, tarjetas de pago y cuentas bancarias.
	Intercom, nuestra plataforma de mensajería para clientes (Live Chat)
	Agencias de referencia crediticia
	Proveedores de servicios analíticos, conozca a su cliente (KYC) y ciberseguridad
	Cualquiera con quien nos des permiso explícito para compartirlo.
Cuando sea necesario, también compartiremos información para cumplir con las autoridades reguladoras, para hacer cumplir nuestros Términos de servicio u otros acuerdos y para proteger los derechos, la propiedad o la seguridad de nosotros, nuestros clientes u otros.
</p>

<h3 class="subtitinf">Cuales son tus derechos</h3>
<p>Tienes derecho a:
	Acceda y actualice parte de su información a través de su cuenta BiBi.
	En algunas jurisdicciones, puede tener derecho a solicitar copias de información personal que no puede ver a través de su cuenta de BiBi, aunque no podremos cumplir cuando dichas solicitudes sean manifiestamente infundadas, repetitivas o excesivas.
	Pídanos que corrijamos información personal inexacta o incompleta que no puede actualizar usted mismo a través de su cuenta BiBi.
	Pídenos que eliminemos tus datos. Si lo solicita, tenga en cuenta:
	Podemos retener cierta información necesaria para nuestros intereses comerciales legítimos, como la detección y prevención de fraudes y la mejora de la seguridad. Por ejemplo, si suspendemos una cuenta de BiBi por motivos de fraude o seguridad, es posible que retengamos cierta información para evitar que ese usuario abra otra cuenta en el futuro.
	Podemos retener y utilizar su información personal en la medida necesaria para cumplir con nuestras obligaciones legales.
	La información que ha compartido con otros (por ejemplo, Reseñas) puede seguir siendo visible públicamente incluso después de que se cancele su cuenta de BiBi.
	Oponerse a que utilicemos sus datos para marketing directo y, en determinadas circunstancias, "intereses legítimos", por motivos de investigación y estadísticos.
	Retirar cualquier consentimiento que nos hayas dado previamente. Para ello, póngase en contacto con info@fatllama.com .
</p>


<h3 class="subtitinf">¿Dónde almacenamos sus datos?</h3>
<p>
	Nos tomamos muy en serio su privacidad. Es por eso que la información que nos proporciona se transmite mediante SSL, el cifrado seguro que utilizan los sitios web para transmitir números de tarjetas de crédito.
	Almacenamos su información de verificación en forma encriptada, y solo los empleados autorizados de BiBi tienen acceso a su documentación original, para ayudarlos a hacer su trabajo.
	Los datos recopilados dentro del EEE pueden transferirse y almacenarse fuera del EEE para los fines descritos en esta Política de privacidad. Sin embargo, solo haremos esto cuando existan las medidas de seguridad adecuadas para garantizar un nivel adecuado de protección de datos.
Solvencia
Al alquilar con un plan a largo plazo que califique con pagos recurrentes a través de uno de nuestros socios minoristas (esto excluye los alquileres realizados a través de nuestro mercado en https://www.fatllama.com), podemos evaluar su solvencia proporcionando su información personal a la referencia crediticia. agencias (CRA). La CRA a la que actualmente proporcionamos información es Experian.
Esta informacion incluye:
	Nombre completo, dirección de facturación, dirección de envío, fecha de nacimiento
Las agencias de referencia crediticia nos proporcionarán información sobre usted, incluida información pública, datos de direcciones e información sobre su historial financiero.
Si ingresa un contrato con nosotros, también continuaremos intercambiando información con las CRA, incluido el pago exitoso o retrasos en el pago de cuentas por cobrar. Puede encontrar más información sobre Experian y las formas en que usa y comparte la información personal en https://www.experian.co.uk/legal/crain/ .
Cómo hacer una pregunta o presentar una queja
Si tiene una queja, comuníquese con info@fatllama.com y haremos todo lo posible para ayudarlo. Si aún no está satisfecho, puede remitir su queja al Servicio del Defensor del Pueblo Financiero. Puede visitar su sitio web en www.financial-ombudsman.org.uk .
</p>

<h3 class="subtitinf">Cambios a esta política</h3>
<p>Publicaremos cualquier cambio que hagamos en nuestra política de privacidad aquí mismo, en esta página. Si los cambios son importantes, se lo comunicaremos por correo electrónico.
") y operamos bajo el nombre de BiBi. La dirección de nuestra oficina registrada es 9th Floor 107 Cheapside, Londres, Reino Unido, EC2V 6DN. Nuestro número de empresa es 09927338.</p>
</p>
  
  
  
  </div>
</div>