<div class="intro-info">
	<div class="intcar">
		<img src="" alt="">
	</div>
	<div class="intbibi">
		<h1>BiBi</h1>
	</div>
	<div class="inttyp">
		<h1 class="typewrite" data-period="2000" 
			data-type='[ " vive la experiencia.", " ayuda al planeta.", " economia colaborativa.", " renta local." ]'>
		</h1>
		
	</div>	
	<div class="infexp">
		<div class="extinfo">
			<h3>Ahorra más</h3>
			<p>Renta > Compra.</p>
		</div>
		<div class="extinfo">
			<h3>Contamina menos</h3>
			<p>Menos consumo, más experiencias.</p>
		</div>
		<div class="extinfo">
			<h3>Vive ligero</h3>
			<p>Renta solo lo que necesitas.</p>
		</div>	
	</div>

</div>	

<%#VERIFICAR PORQUE SI QUITO ESTA LINEA SE ELIMINA JAVASCRIPT TYPEWRITE EFFECT%>
<section id="wrapper" class="skewed">

<div class="explorar">
	<div class="concat">
		<div class="cateveinf">
			<h1>Categorias</h1>
			<p>Bicicletas, camaras, electronicos, inflables, sonido...etc.</p>
		</div>
		<button class="catevebtn">Explorar</button>
	</div>
	<div class="coneve">
		<div class="cateveinf">
			<h1>Eventos</h1>
			<p>Senderismo, bodas, niños & bebes, cumpleaños, trabajo...etc.</p>
		</div>
		<button class="catevebtn">Explorar</button>
	</div>
</div>




<div class="h-reviews">
	<div class="comp-title">
    	<h1>Ultimas reseñas</h1>
  </div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
</div>

<div class="comp-title">
    	<h1>Descargame</h1>
</div>

<div class="infodesc">
	<div class="desctit">
		<h3>¿Como descargar nuestra PWA?</h3>
	</div>
	<div class="descste">
			<h4>1. Vee a los 3 puntos de google chrome o del navegador que utilizas</h4>
			<h4>2. Seleccciona descargar en tu homescreen</h4>
			<h4>3. Disfruta de nuestra PWA y renta tus articulos.</h4>
		</div>
</div>



