<%#Seccion1: Intro%>

<div class="intro-info">
	<div class="intcar">
		<img src="" alt="">
	</div>
	<div class="intbibi">
		<h1>BiBi</h1>
	</div>
	<div class="inttyp">
		<h1 class="typewrite" data-period="2000" 
			data-type='[ " vive la experiencia.", " ayuda al planeta.", " economia colaborativa.", " renta local." ]'>
		</h1>
	</div>
</div>

<%#Seccion2: Informacion general%>

	<div class="infexp">
		<div class="extinfo">
			<img src="https://res.cloudinary.com/dfy5vakwb/image/upload/c_scale,w_80/v1635882303/bibi/HOME/Wavy_Buddies_-_Dollar_ausetu.png" alt="">
			<div class="extinfc">
				<h3>Ahorra más</h3>
				<p>Renta < Compra.</p>
			</div>	
		</div>
		<div class="extinfo">
		<img src="https://res.cloudinary.com/dfy5vakwb/image/upload/c_scale,w_80/v1635882442/bibi/HOME/Hands_-_Earth_gy6xpp.png" alt="">
			<div class="extinfc">
				<h3>Contamina menos</h3>
				<p>Menos compras, más experiencias.</p>
			</div>
		</div>
		<div class="extinfo">
			<img src="https://res.cloudinary.com/dfy5vakwb/image/upload/c_scale,w_80/v1635882408/bibi/HOME/Dayflow_-_Riding_ebri22.png" alt="">
			<div class="extinfc">
				<h3>Vive ligero</h3>
				<p>Renta solo lo que necesitas.</p>
			</div>
		</div>	
	</div>

<section id="wrapper" class="skewed">
</div>	

<%#VERIFICAR PORQUE SI QUITO ESTA LINEA SE ELIMINA JAVASCRIPT TYPEWRITE EFFECT%>

<%#Seccion3: Top articulos mas rentados%>

	<div class="comp-title">
		<h2>Articulos</h2>
	</div>

<div class="conarthom">
	
</div>



<%#Seccion4: Reviews reales%>

<div class="comp-title">
  <h2>Ultimas reseñas</h2>
</div>

<div class="h-reviews">
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
</div>

<%#Seccion5: Indicaciones descarga PWA%>

<div class="comp-title">
    	<h2>Descargame</h2>
</div>
<div class="infodesc">
	<div class="desctit">
		<h3>¿Como descargar nuestra PWA?</h3>
	</div>
	<div class="descste">
			<h4>1. Vee a los 3 puntos de google chrome o del navegador que utilizas</h4>
			<h4>2. Seleccciona descargar en tu homescreen</h4>
			<h4>3. Disfruta de nuestra PWA y renta tus articulos.</h4>
		</div>
</div>

<%#Seccion6: Listas de categorias e ubicaciones%>

<div class="liscatubi">
	<div class="liscu">
		<h3>Categorias</h3>
		<ul class="liscu">
			<li><a href="">Fotografía y video</a></li>
			<li><a href="">Sonido</a></li>
			<li><a href="">Proyectores y pantallas</a></li>
			<li><a href="">Drones</a></li>
			<li><a href="">Electronicos</a></li>
			<li><a href="">Instrumentos musicales</a></li>
		</ul>
	</div>

	<div class="liscu">
		<h3>Ubicaciones</h3>
		<ul class="liscu">
			<li><a href="">CDMX</a></li>
			<li><a href="">Monterrey</a></li>
			<li><a href="">Saltillo</a></li>
		</ul>
	</div>

</div>



