<div class="intro-info">
	<div class="intcar">
		<img src="" alt="">
	</div>
	<div class="intbibi">
		<h1>BiBi</h1>
	</div>
	<div class="inttyp">
		<h1 class="typewrite" data-period="2000" 
			data-type='[ " vive la experiencia.", " ayuda al planeta.", " economia colaborativa.", " renta local." ]'>
		</h1>
	</div>	
	

</div>	

<div class="explorar">
	<section id="wrapper" class="skewed">

    <div class="layer bottom">
      <div class="content-wrap">
				<div class="boton1">
					<button class="depart"><h2>Explorar</h2></button>
				</div>
        <div class="content-body">
          <h1>Eventos</h1>
            <p class="extxinf">Explora bodas, fiestas, fiestas infantiles, juntas ejecutivas, camping y muchos más.</p>
        
				</div>
        
      </div>
    </div>

    <div class="layer top">
        <div class="content-wrap">
					<div class="boton2">
						<button class="depart"><h2>Explorar</h2></button>
					</div>
          <div class="content-body">
						<h1>Categorias</h1>
						<p class="extxinf">Explora camaras, electronicos, proyectores, drones, inflables y muchos más.</p>
          
					</div> 
        </div>
      </div>
      <div class="handle"></div>

</div>



<div class="comp-title">
    	<h1>Ultimas reseñas</h1>
  </div>


<div class="h-reviews">
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
</div>

<div class="comp-title">
    	<h1>Descargame</h1>
</div>

<div class="infodesc">
	<div class="desctit">
		<h3>¿Como descargar nuestra PWA?</h3>
	</div>
	<div class="descste">
			<h4>1. Vee a los 3 puntos de google chrome o del navegador que utilizas</h4>
			<h4>2. Seleccciona descargar en tu homescreen</h4>
			<h4>3. Disfruta de nuestra PWA y renta tus articulos.</h4>
		</div>
</div>



