<%#Seccion1: Intro%>
<div class="wraintbibi" id="wrapper" class="skewed">
	<div class="intro-info">
		<div class="intbibtex">
			<div class="intbiblog">
				<h1>BiBi</h1>
				<h2>¡Vive ligero!</h2>
			</div>
		</div>
		<div class="inttyp">
			<h2 class="typewrite" data-period="2000" 
				data-type='[ " Vive la experiencia.", " Ayuda al planeta.", " Renta local.", "Encuentra lo que necesitas."]'>
			</h2>
		</div>
	</div>
</div>	
<%#Seccion2: Top articulos mas rentados%>
<div class="comp-title" >
	<a href="/products"><h2>Articulos</h2></a>
</div>
<div class="conarthom">
</div>

<%#Seccion3: Indicaciones descarga PWA%>

<div class="comp-title">
    	<h2>¿Como funciona BiBi?</h2>
</div>
<div class="infobibpas">
	<div class="bibpasder">
		<div class="pastexpasder">
			<div class="pastextiteder">
				<h3 >Registrate</h3>
				<p class="parbibtex">Ingresa todos los datos necesarios para poder rentar con BiBi.</p>
				<button class="btnpas" type="submit"><%= link_to "Registrarme", user_session_path, "data-toggle" => "modal", "data-target" => "#signinModal" %></button>
			</div>
		</div>
	</div>
	<div class="bibpasizq">
		<div class="pastexpasizq">
			<div class="pastextiteizq">
				<h3 >Explora</h3>
				<p class="parbibtex">Busca por ubicación y filtra el artículo que necesites, envía una solicitud al proveedor y recoge tu artículo.</p>
				<button class="btnpas" type="submit"><%= link_to "Explorar", products_path %></button>
			</div>
		</div>
	</div>
	<div class="bibpasder2">
		<div class="pastexpasder">
			<div class="pastextiteder">
				<h3 >Disfruta</h3>
				<p class="parbibtex">Disfruta del artículo el tiempo que lo necesites.</p>
			</div>
		</div>
	</div>
</div>

<%#Seccion4: Reviews reales%>

<div class="comp-title">
  <h2>Ultimas reseñas</h2>
</div>

<div class="h-reviews">
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicación para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="u-name">
				<h3 class="us-n">Pedro Cob.</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
</div>

<%#Seccion6: Listas de categorias e ubicaciones%>

<div class="liscatubi">
	<div class="liscu">
		<h3>Categorias</h3>
		<ul class="liscu">
			<li><a href="">Fotografía y video</a></li>
			<li><a href="">Sonido</a></li>
			<li><a href="">Proyectores y pantallas</a></li>
			<li><a href="">Drones</a></li>
			<li><a href="">Electronicos</a></li>
			<li><a href="">Instrumentos musicales</a></li>
		</ul>
	</div>

	<div class="liscu">
		<h3>Ubicaciones</h3>
		<ul class="liscu">
			<li><a href="">CDMX</a></li>
			<li><a href="">Monterrey</a></li>
			<li><a href="">Saltillo</a></li>
		</ul>
	</div>

</div>



