<div class="intro-info">
<p class="item-1">Vive una vida mas ligera...Menos equipaje, mas aventura!</p>

<p class="item-2">Renta y vive la experiencia. Disfruta de casi cualquier articulo.</p>

<p class="item-3">Ayudemos a nuestro planeta. Rentemos mas, consumamos menos.</p>
</div>
	<div class="comp-slider">
		<div class="comp-title">
			<h1>ALIADOS</h1>
		</div>
	

  <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
</div>
  
  <div class="comp-title">
    	<h1>EXPLORA</h1>
  </div>


	

<div class="explorar">
	<section id="wrapper" class="skewed">
    <div class="layer bottom">
      <div class="content-wrap">
				<div class="boton1">
					<button class="depart"><h2>Explorar</h2></button>
				</div>
        <div class="content-body">
          <h1>Eventos</h1>
            <p>Explora bodas, fiestas, fiestas infantiles, juntas ejecutivas, camping y muchos más.</p>
        
				</div>
        
      </div>
    </div>

    <div class="layer top">
        <div class="content-wrap">
					<div class="boton2">
						<button class="depart"><h2>Explorar</h2></button>
					</div>
          <div class="content-body">
						<h1>Categorias</h1>
						<p>Explora camaras, electronicos, proyectores, drones, inflables y muchos más.</p>
          
					</div> 
        </div>
      </div>
      <div class="handle"></div>

</div>



