<div class="intro-info">
	<img src="https://res.cloudinary.com/dfy5vakwb/image/upload/v1631053251/bibi/HOME/cam_qxnwx9.png" alt="">
	<div class="intinf">
		<h1 class="item-1">VIVE LIGER@</h1>
	</div>
	<div class="intinf">
		<p class="item-2">Renta y vive la experiencia.</p>
	</div>
	<div class="intinf">
		<p class="item-3">Ayudemos a nuestro planeta.</p>
	</div>
</div>	


<div class="explorar">
	<section id="wrapper" class="skewed">

    <div class="layer bottom">
      <div class="content-wrap">
				<div class="boton1">
					<button class="depart"><h2>Explorar</h2></button>
				</div>
        <div class="content-body">
          <h1>Eventos</h1>
            <p class="extxinf">Explora bodas, fiestas, fiestas infantiles, juntas ejecutivas, camping y muchos m치s.</p>
        
				</div>
        
      </div>
    </div>

    <div class="layer top">
        <div class="content-wrap">
					<div class="boton2">
						<button class="depart"><h2>Explorar</h2></button>
					</div>
          <div class="content-body">
						<h1>Categorias</h1>
						<p class="extxinf">Explora camaras, electronicos, proyectores, drones, inflables y muchos m치s.</p>
          
					</div> 
        </div>
      </div>
      <div class="handle"></div>

</div>

  <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
</div>

<div class="comp-title">
    	<h1>Ultimas rese침as</h1>
  </div>


<div class="h-reviews">
	<div class="r-card">
		<div class="u-img">
		</div>
		<div class="u-rev">
			<div class="comrev">
				<p>"La mejor aplicaci칩n para rentar, en 10 minutos quede de acuerdo con el producto, los tiempos y el precio final.</p>
			</div>
			<div class="starev">
				<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
			</div>	
			<div class="u-name">
				<h3 class="us-n">-Pedro Cobos</h3><p class="us-c">Chicago</p>
			</div>
		</div>
	</div>
 


</div>



