<div class="congeninf">
  <div class="conintinfo">
  <h1>Preguntas frecuentes</h1>
  <h3 class="subtitinf">Actualizaciones de COVID-19</h3>
  <p>
    Durante este período, continuaremos respaldando los alquileres entre pares en nuestra plataforma, por lo que nos gustaría aprovechar esta oportunidad para brindar orientación a los miembros de nuestra comunidad. A continuación, se muestran algunos recordatorios y actualizaciones:
    •	Como recordatorio, los prestatarios siguen siendo totalmente responsables del cuidado y la devolución oportuna de los artículos de alquiler durante su alquiler. 
    •	La seguridad es nuestra prioridad, por lo que nos gustaría fomentar las prácticas de intercambio de alquileres sin contacto. Esto significa acercarse a la puerta con una mascarilla / cubierta colocando los artículos de alquiler en el suelo junto a la puerta, retroceder 2 metros y esperar a que se recoja el artículo. Espere para confirmar visualmente que el alquiler ha sido recogido y no deje los artículos de alquiler desatendidos en ningún momento.
    •	También sugerimos utilizar un servicio de mensajería para recoger o devolver los alquileres si su movilidad es limitada. Trabajamos con frecuencia con GOPHR y los recomendamos para la entrega de su tarifa de contacto.
    •	Nos gustaría recordarle a los prestamistas que limpien cuidadosamente los artículos de alquiler cuando se devuelvan. Consulte nuestros consejos de limpieza aquí.
    Pedimos a todos los miembros de la comunidad BiBi que se apoyen mutuamente al intercambiar alquileres durante este período. 
    Como la situación relacionada con COVID-19 cambia con regularidad, continuaremos actualizándolo con cambios en el servicio y recomendaciones para alquileres. No dude en ponerse en contacto con nuestro equipo de atención al cliente en info@fatllama.com si tiene alguna pregunta o inquietud.
  </p>

  <h3 class="subtitinf">General</h3>
  <p>
    Presentación de seguro de alquiler
    Si se le ha pedido que presente un seguro de alquiler, envíe su información mediante el Formulario de envío de seguro de alquiler.
    Nuestro equipo revisará la información de su seguro y lo actualizaremos cuando se complete el proceso.
    Para este propósito, recomendamos Aston Lark, que ofrece una excelente cobertura de seguro. 
    ¡Recuerde seleccionar 'BiBi' al completar el formulario de seguro de Aston Larks!
    El proceso de obtención de una cotización de seguro puede tomar tan solo 2-3 minutos y nos complace aclarar más sobre qué seguro aceptamos. Puede hacerlo simplemente poniéndose en contacto con nuestro equipo de chat en vivo o enviándonos un correo electrónico a verify@fatllama.com .
  </p>

  <h3 class="subtitinf">Formulario de envío de seguro de alquiler</h3>
  <p>Envíe toda la información y documentación relacionada con el seguro de sus artículos de alquiler. Debe incluir: 
  1. La póliza. 
  2. Comprobante de compra de la póliza. 
  3. Lista de exclusiones, que puede estar dentro del documento de la póliza o como un documento separado. 

  Su reclamo de seguro no se procesará sin todos los documentos.

  1.	Tu nombre *
  2.	Dirección de correo electrónico asociada con su alquiler
  3.	¿Es usted el titular de la póliza?
  4.	¿Está alquilando con una institución asociada?
  5.	Si no es el titular de la póliza, indique a esta persona y su relación con el titular de la póliza
  Si alquila en nombre de una empresa, déjelo en claro.
  6.	¿Es esta una póliza anual o de corto plazo?
  7.	¿Cuál es la fecha de inicio de su alquiler?
  8.	¿Cuál es la fecha de finalización de su alquiler con BiBi?
  9.	¿Las fechas de su seguro cubren la totalidad de su alquiler de BiBi? es decir, mínimo 2 días
  10.	¿Cuál es la fecha de inicio de su póliza de seguro?
  11.	¿Cuál es la fecha de finalización de su póliza de seguro?
  12.	¿Su póliza cubre específicamente el equipo alquilado o alquilado?
  13.	¿Cuánto cubre su póliza por equipos alquilados o alquilados?
  14.	¿Quién es su proveedor de pólizas de seguro?
  15.	Póliza de seguro (adjuntar)
  16.	Recibo de compra de la póliza (adjuntar)
  </p>

  <h3 class="subtitinf">¿Cómo dejo una reseña sobre BiBi?</h3>
  <p>Podrás dejar una reseña 24 horas después de que finalice el alquiler. Eso se aplica a prestatarios y prestamistas. Tenga en cuenta que el enlace caducará dentro de los 10 días posteriores a su envío, ¡así que ingrese rápido!

  De acuerdo con nuestros Términos y condiciones, no toleraremos ninguna revisión que sea falsa, considerada abusiva, agresiva o que muestre un comportamiento amenazante o discriminación. Creemos en tratar a todos con respeto y no permitiremos reseñas que puedan acosar, molestar, avergonzar, alarmar o molestar a cualquier otra persona.

  No podemos cambiar reseñas sin el permiso del autor, para mantener la integridad de la plataforma. Si cree que la revisión que se ha escrito sobre usted infringe las reglas de nuestros Términos y condiciones, póngase en contacto con nosotros en resolution@fatllama.com .
  </p>
  <h3 class="subtitinf">¿Cómo puedo contactar a BiBi?</h3>
  <p>
    Estas son las mejores formas de ponerse en contacto con nosotros:
    
    Correo electrónico info@fatllama.com
    
    Utilice la clasificación de soporte (haciendo clic en el icono de chat en la esquina inferior derecha) para dirigirse al equipo correcto. 
    
    Nuestro horario de oficina es:
    
    Soporte de verificación de lunes a sábado de 9 a. M. A 9       p. M. Verify@fatllama.com
    Soporte de cuenta de lunes a sábado de 9 a       . 
    
    Domingos 10 am-6pm 
    Pagos Equipo de lunes a viernes 10 a.m.-7 p.m.           payments@fatllama.com 
    Resoluciones Equipo de lunes a viernes 10 a.m.-7 p.m.           resolutions@fatllama.com 
    Cerrado los días festivos 
    
    nuestras vacaciones Horas serán:
    
    Nochebuena: 10 a. M. - 6 p. M. 
    Día de Navidad: CERRADO
    Día del boxeo: 10 a. M. - 6 p. M.
    Nochevieja: 10 a. M. - 6 p. M. 
    Día de Año Nuevo: 10 a. M. - 6 p. M.
  </p>

  <h3 class="subtitinf">¿Cómo funciona BiBi?</h3>
  Si quieres prestar algo, simplemente: 

  1.	Crea una lista para el artículo 
  2.	Aprueba las solicitudes de alquiler entrantes
  3.	Elige un horario para intercambiar su artículo con el prestatario 
  4.	Recibe pagos a través de nuestro sistema de pago seguro

  Si desea alquilar algo, simplemente:

  1.	Encuentra lo que buscas 
  2.	Reserva el artículo para las fechas en que lo necesite y haga que lo verifiquemos 
  3.	Organiza un horario para recoger su artículo del inquilino y disfrutar de su alquiler
  4.	Devuelve el artículo al arrendatario y deja una reseña.

  IVA
  Si desea cobrar el IVA en sus alquileres, deberá incluirlo en el precio de alquiler que establezca. Puede utilizar la descripción para proporcionar detalles tales como si el IVA está incluido en el precio o cuál es su número de IVA.

  Si desea proporcionar al prestatario una factura directamente para mostrar el desglose de la tarifa de alquiler y el IVA, puede entregarle una factura física cuando retire el artículo.

  Somos un intermediario entre el prestatario y el prestamista, por lo que no podemos ofrecer ningún tipo de asesoramiento fiscal o de IVA. Sin embargo, podemos ayudarlo a comprender la funcionalidad disponible en nuestro sitio web para satisfacer mejor sus necesidades.

  Cuentas
  ¿Qué es una cuenta en pausa? ¿Por qué se ha detenido mi cuenta?
  Si su cuenta está en pausa, esto significa que sus listados se han eliminado temporalmente de la función de búsqueda en BiBi. Los usuarios que tienen un enlace directo a uno de sus listados aún pueden acceder y solicitarlos, pero en general su actividad se minimizará.

  Su cuenta puede entrar en estado de pausa si ha activado el modo de vacaciones o si ha estado inactivo en su cuenta durante demasiado tiempo. 

  Si su cuenta ha sido pausada pero desea reactivarla, envíe un correo electrónico a info@fatllama.com y un miembro de nuestro equipo de soporte puede ayudarlo.

  ¿Cómo creo una cuenta?
  Si aún no tiene una cuenta BiBi:
  1.	Haga clic en 'Registrarse' en la esquina superior derecha de la página de inicio . Puede optar por registrarse con Google, Facebook o su dirección de correo electrónico.
  2.	Ingrese su número de teléfono y háganos saber cómo se enteró de nosotros
  3.	Completa tu perfil cargando una foto de perfil y agregando una breve 'biografía', algunas líneas para ayudar a otras llamas a conocerte.
  Felicitaciones, ahora eres oficialmente un miembro de la manada. En esta etapa, puede navegar y listar sus propios artículos para alquilar.

  Sin embargo, tenga en cuenta: si desea alquilar algo, nuestro equipo deberá verificarlo antes de enviar su solicitud al prestamista.
  Dirígete a la página de inicio a través del enlace a continuación para comenzar:

  ¿Cómo subo un artículo?
  1.	Dale un nombre a tu artículo
  Al elegir un nombre, intente elegir algo que coincida con lo que podrían buscar los prestatarios potenciales.

  2.	Sube una foto
  Cuanto mejores sean tus instantáneas, más alquileres obtendrás. A las llamas les gusta poder ver lo que están reservando, así que cuantas más fotos, mejor. Haga clic aquí para obtener ayuda con la carga de imágenes.

  3.	Seleccione una categoría relevante
  Haga clic aquí para obtener ayuda para elegir la categoría adecuada para su anuncio.

  4.	Describe tu artículo 
  Describe las especificaciones, compatibilidad y condición de tu artículo con la mayor precisión posible. 

  5.	Establece un precio para tu artículo.
  Lo que cobra depende de usted, pero los precios más bajos a menudo significan un mayor ingreso general de alquiler. Toque aquí para obtener ayuda para establecer un precio para su artículo. Por último, haz clic en el botón "Enviar" y tu anuncio se activará al instante.

  ¿Cómo puedo optimizar mi anuncio?
  1. Toma excelentes fotos de tus artículos.
  Cuanto mejores sean tus instantáneas, más alquileres obtendrás. A las llamas les gusta poder ver lo que están reservando, así que cuantas más fotos, mejor. Ah, y las fotos de archivo hacen llorar a las llamas (y atraen menos interés de los prestatarios), así que asegúrese de llevar las suyas propias.

  ¡Las fotos en una proporción de 4: 3 se verán mejor! 800px x 600px se verá genial, ¡pero cuanto más grande, mejor!

  2. Establezca precios bajos
  Lo que cobra depende de usted, pero los precios más bajos a menudo significan un mayor ingreso general de alquiler: fomentan alquileres más prolongados y frecuentes. Para empezar, observe el precio de los artículos similares y comience hacia el extremo inferior de la escala.

  3. Describe tus artículos con precisión
  Escriba un título y una descripción que coincidan con lo que podrían buscar los prestatarios potenciales. Describe las especificaciones, compatibilidad y condición de tu artículo con la mayor precisión posible.

  4. Muéstranos tu verdadero yo
  Sube una foto y una breve biografía a tu perfil para ayudar al resto de la manada a saber quién eres. Las llamas con fotos de perfil reciben un 60% más de consultas de alquiler que las que no las tienen. Decir queso.

  5. Mantenga un tiempo de respuesta rápido
  A las llamas les encantan las respuestas rápidas. Cuando un prestatario le envíe un mensaje o solicite su artículo, comuníquese con él lo antes posible, ya sea que pueda cumplir con el alquiler o no.


   

  <h3 class="subtitinf">¿Cómo elijo una categoría para mi artículo?</h3>
  Es importante que su artículo esté correctamente categorizado en el sitio. Así es como hacerlo bien.
  Para ayudar a los prestatarios a encontrar sus artículos más fácil y rápidamente en el sitio, le pediremos que los clasifique cuando los incluya en la lista. Las categorías se componen de tres niveles, que comienzan en general y terminan en específicos.

  Autosugestión
  Cuando esté creando una lista, se le sugerirá automáticamente tres categorías en función del nombre que le haya dado a su artículo. Simplemente marque el que mejor describa su artículo:
  

  Selección manual
  Si no podemos sugerir categorías, o si cree que nuestras categorías no describen su artículo con precisión, puede seleccionar manualmente las tres categorías usted mismo.
  

   
  Rentas
  Como organizar la entrega y devolución
  Tiempos de entrega preferidos
  Estatus de renta
  ¿Puedo extender mi renta?
  Que son super arrendatario y arrendatario con experiencia

  Verificaciones
  ¿Porque mi solicitud fue rechazada?
  Como funciona la verificación
  ¿Porque me piden que envíe mi información personal?
  ¿Es seguro enviar mi ID a BiBi?

  Cancelaciones
  ¿Como cancelo un alquiler?
  Política de cancelaciones
  Para prestatarios
  Cancelar un alquiler:
  •	Hay un período de reflexión de 48 horas en el que se le reembolsará por completo si cancela un alquiler que ha reservado. Tenga en cuenta que si reserva un alquiler dentro de las 48 horas posteriores a la fecha de inicio del alquiler (por ejemplo, si reserva un alquiler para el lunes por la noche para el miércoles por la mañana), este período de reflexión no se aplica.
  •	Si cancela después del período de reflexión de 48 horas, pero antes de 48 horas antes de la fecha de inicio del alquiler, incurrirá en un cargo del 40% del monto del alquiler; el resto del monto del alquiler le será reembolsado. 
  •	Si cancela dentro de las 48 horas posteriores a la fecha de inicio, no se le reembolsará.
  Otro:
  •	Si un prestamista cancela un alquiler, se le notificará y se le reembolsará por completo, y nuestros administradores de cuentas harán todo lo posible para ayudarlo a encontrar un artículo alternativo. Si no esperaba que se cancelara el alquiler, avísenos lo antes posible.
  •	Si el prestamista no se presenta para entregar el artículo, comuníquese con nosotros lo antes posible; deberá comunicarse con nosotros dentro de las 12 horas posteriores a la fecha en que se programó el alquiler para comenzar a recibir un reembolso completo del costo del alquiler.
  Para prestamistas
  •	No se le cobrará por cancelar un alquiler, a menos que sea dentro de las 48 horas posteriores a la fecha de inicio del alquiler; en este caso, se le puede cobrar una tarifa de hasta el valor total del alquiler. Tenga en cuenta que la cancelación de alquileres también afectará su puntaje de prestamista y las posibilidades de ser clasificado como superintendente .
  Nuestra Política de cancelaciones está implementada para proteger a los prestamistas y prestatarios contra cancelaciones de última hora; haga clic a continuación para leer nuestros Términos de servicio completos:
   
  Política de cancelación para arrendador
  Cancelaciones de su fin:
  Hay un período de reflexión de 48 horas en el que se le reembolsará por completo si cancela un alquiler que ha reservado. Tenga en cuenta que si reserva un alquiler dentro de las 48 horas posteriores a la fecha de inicio del alquiler (por ejemplo, si reserva un alquiler para el lunes por la noche para el miércoles por la mañana), este período de reflexión no se aplica.

  Para los alquileres reservados dentro de las 48 horas posteriores al inicio del alquiler, tendrá un período de reflexión de 3 horas , para que usted y el prestamista tengan la oportunidad de asegurarse de que los detalles de la transferencia funcionarán.
  •	Si cancela después del período de reflexión de 48 horas, pero antes de 48 horas antes de la fecha de inicio del alquiler, incurrirá en un cargo del 40% del monto del alquiler; el resto del monto del alquiler le será reembolsado. 
  •	Si cancela dentro de las 48 horas posteriores a la fecha de inicio, no se le reembolsará.
  •	Cancelaciones por parte del prestamista:
  •	Si un prestamista cancela un alquiler, se le notificará y se le reembolsará por completo, y nuestros administradores de cuentas harán todo lo posible para ayudarlo a encontrar un artículo alternativo. Si no esperaba que se cancelara el alquiler, avísenos lo antes posible.
  •	Si el prestamista no se presenta para entregar el artículo, comuníquese con nosotros lo antes posible; deberá comunicarse con nosotros dentro de las 12 horas posteriores a la fecha en que se programó el alquiler para comenzar a recibir un reembolso completo del costo del alquiler.
  •	Reembolsos:
  •	Si un alquiler ha sido cancelado antes de completar la verificación o ser aceptado por el prestamista, entonces la transacción solo estará pendiente en su cuenta bancaria. Una vez que se cancela la solicitud, estos fondos se liberan por nuestra parte y su banco los devolverá a su saldo disponible dentro de unos días. No verá una línea separada en su extracto bancario cuando los fondos hayan sido devueltos, simplemente se moverán fuera del estado "Pendiente".
  •	Si se cancela un alquiler después de que el prestamista lo haya aceptado, sus fondos se habrán debitado por completo de su cuenta. En este caso, generalmente tomará de 5 a 10 días desde el momento de la cancelación para que su reembolso llegue a su cuenta bancaria.
  Cualquier crédito de BiBi que utilice en un alquiler se reembolsará automáticamente cuando se cancele la transacción.

  Garantías
  Porque necesito estimar el valor de mis objetos
  ¿Estoy cubierto si el arrendatario decide no devolver el articulo?
  Cuales son los criterios para aplicar tu garantía
  Cual es mi responsabilidad como arrendador
  ¿Como arrendatario estoy cubierto?

  Precios y pagos
  Cuenta de ganancias
  ¿Cuánto cuesta alquilar en BiBi?
  ¿Como funcionan los pagos para el arrendatario?
  ¿Como y cuando se realizan los depósitos al arrendador?
  ¿Como cambio mi información bancaria?


  Resoluciones
  ¿Como reporto a un usuario?
  ¿Cuál es el proceso de resoluciones?
  ¿Cuáles son los requisitos para el arrendador?
  ¿Cuáles son los requisitos para el arrendatario?



  </div>
</div>


<%= link_to "volver a inicio", root_path %>