.condash {
    width: 100%;
    height: fit-content;
    background-color: white;
}

.dashtit {
    text-align: center;
    margin: 30px 0;
}

.conintdash {
    display: flex;
    flex-direction: column;
    max-width: 1290px;
    margin: 10px;
}

.bigbigcon {
    display: flex;
    flex-direction: row;
}

.bigcon1 {
    width: 50%;
}

.bigcon2 {
    width: 50%;
}

.concardashbig {}

.condashtit {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.congangentit {
    text-align: start;
}

.concardash {
    display: grid;
    justify-content: space-around;
    justify-items: start;
    width: 100%;
    height: min-content;
    margin: 15px 0;
    grid-template-columns: repeat(auto-fit, minmax(190px, min-content));
}

.cardash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 190px;
    height: 240px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    align-items: center;
    background-color: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardash2 {
    width: 190px;
    height: 240px;
    margin: 10px;
}

.cardashint1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48%;
    margin-bottom: 10px;
    text-align: center;
    background-color: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardashint2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48%;
    text-align: center;
    background-color: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.concardashgra {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.cardashgra {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin: 10px;
    padding: 20px;
    background-color: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashgrafizq {
    width: 70%;
    margin-right: 20px;
    padding: 10px;
    background-color: azure;
}

.dashgrafder {
    width: 30%;
    padding: 10px;
    background-color: rgb(250, 250, 184);
}

// GENERAL ICONS DESIGN
// Ingresos
.cardashico-ing {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #98ED82;
    opacity: 0.8;
    border-radius: 50%;
}

// No. rentas
.cardashico-ren {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(255, 239, 0, 0.4);
    opacity: 0.8;
    border-radius: 50%;
}

// Rentas promedio
.cardashico-rm {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #EFEFEF;
    opacity: 0.8;
    border-radius: 50%;
}

// Cantidad artículos
.cardashico-car {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(59, 59, 59);
    opacity: 0.8;
    border-radius: 50%;
}

// REVIEWS ICONS DESIGNS
// Nivel usuario
.cardashico-niv {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0.8;
}

//Calificación usuario
.cardashico-rev {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0.8;
}

//General text for cards
.dashinfcantex {}

.cardashtittex {
    color: #aaa9a9;
    font-size: 18px;
    font-weight: 800;
}

.cardashportex {
    color: green;
    opacity: .5;
}

.cardashrev {
    color: black;
}