.footer {
    background-color: #FFF562;
    padding: 25px;
    padding-left: 50px;
}

.gen-infofo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

// .info-sect {}

.list-unstyled .ul .li {
    color: black;
}

.a {
    text-decoration: none;
}