.footer {
    background-color: #FFF562;
    margin-top: 50px;
    padding-top: 10px;
    flex-shrink: 0;
}

.gen-infofo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

// .info-sect {}
.list-unstyled {
    color: black;
}

.a {
    text-decoration: none;
}