.intro-info {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intbibi h1 {
    font-size: 300px;
}

.inttyp {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.typewrite {
    color: #FFF562;
    margin-left: 35px;
}

.infexp {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
}

.extinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.comp-title {
    text-align: center;
    margin-top: 50px;
    height: 100px;
    width: 100%;
}

.infodesc {
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
    align-items: center;
}

.desctit {
    justify-content: center;
}

.descimg {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 500px;
}

.descste {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.liscatubi {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #faee4e;
    padding: 40px 40px 40px 100px;
}

.liscu {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

//Medium devices Desktops (≥992px)
@media screen and (min-width: 992px) {
    .intro-info {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url("https://res.cloudinary.com/dfy5vakwb/image/upload/c_scale,h_778,w_1903/v1637196519/bibi/HOME/Bibi-background.png");
    }
    .intbibi h1 {
        font-size: 200px;
    }
    .inttyp {
        display: flex;
        flex-direction: row;
        width: 55%;
    }
    .typewrite {
        color: #FFF562;
    }
    .infexp {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding: 20px;
        background-color: #FFF562;
    }
    .extinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    .comp-title {
        text-align: center;
        margin-top: 50px;
        height: 100px;
    }
    .infodesc {
        display: flex;
        flex-direction: column;
        height: 900px;
        justify-content: center;
        align-items: center;
    }
    .desctit {
        justify-content: center;
    }
    .descimg {
        display: flex;
        flex-direction: row;
        width: max-content;
        height: 500px;
    }
    .descste {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .liscatubi {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #faee4e;
        padding: 40px;
    }
    .liscu {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
}

//Small devices Tablets (≥768px)
@media screen and (max-width: 768px) {
    .intro-info {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intbibi h1 {
        font-size: 160px;
    }
    .inttyp {
        display: flex;
        flex-direction: row;
    }
    .typewrite {
        color: #FFF562;
        margin: auto;
        height: 200px;
    }
    .infexp {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        background-color: #FFF562;
        padding: 20px;
    }
    .extinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .comp-title {
        text-align: center;
        margin-top: 40px;
        height: 100px;
    }
    .infodesc {
        display: flex;
        flex-direction: column;
        height: 900px;
        justify-content: center;
        align-items: center;
    }
    .desctit {
        justify-content: center;
    }
    .descimg {
        display: flex;
        flex-direction: row;
        width: max-content;
        height: 500px;
    }
    .descste {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .liscatubi {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #faee4e;
        padding: 50px;
    }
    .liscu {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
}

//Small devices Tablets (≥640px)
@media screen and (max-width: 640px) {
    .intro-info {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intbibi h1 {
        font-size: 150px;
    }
    .intbibi {
        height: 90px;
        margin-top: 25px;
    }
    .inttyp {
        display: flex;
        flex-direction: row;
        width: 75%;
    }
    .typewrite {
        color: #FFF562;
        margin: auto;
        font-size: xx-large;
    }
    .infexp {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        background-color: #FFF562;
        padding: 10px;
    }
    .extinfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    .comp-title {
        margin-top: 40px;
        text-align: center;
        height: 100px;
    }
    .infodesc {
        display: flex;
        flex-direction: column;
        height: 800px;
        justify-content: center;
        align-items: center;
    }
    .desctit {
        justify-content: center;
    }
    .descimg {
        display: flex;
        flex-direction: row;
        width: max-content;
        height: 500px;
    }
    .descste {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .liscatubi {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #faee4e;
        padding: 30px;
    }
    .liscu {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: start;
        list-style-type: none;
        padding: 0;
    }
}

//Small devices Tablets (≥480px)
@media screen and (max-width: 480px) {
    .intro-info {
        width: 100%;
        height: 100vh;
    }
    .intbibi h1 {
        font-size: 60px;
    }
    .intbibi {
        height: max-content;
    }
    .inttyp {
        width: 100%;
        height: max-content;
        justify-content: center;
    }
    .typewrite {
        color: #FFF562;
        height: 50vh;
        font-size: x-large;
    }
    .infexp {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #FFF562;
        padding: 15px;
    }
    .extinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        margin: 15px;
    }
    .comp-title {
        text-align: center;
        margin-top: 40px;
        height: 100px;
    }
    .infodesc {
        display: flex;
        flex-direction: column;
        height: 900px;
        justify-content: center;
        align-items: center;
    }
    .desctit {
        justify-content: center;
    }
    .descimg {
        display: flex;
        flex-direction: row;
        width: max-content;
        height: 500px;
    }
    .descste {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .liscatubi {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 30px;
        justify-content: space-evenly;
        background-color: #faee4e;
    }
    .liscu {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        list-style-type: none;
        padding: 0;
    }
}