.conarthom {
    display: grid;
    margin: 80px 50px;
}

.conartsec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 600px;
}

.artcontainer1 {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.artcard1 {
    position: relative;
    cursor: pointer;
    height: 250px;
    width: 650px;
    top: 76px;
    padding: 25px;
    text-align: end;
    box-shadow: 0px 4px 4px #00000040;
}

.artimg1 {
    display: flex;
    height: 215px;
    object-fit: cover;
    position: absolute;
    width: 487px;
    margin-left: -30px;
    padding-left: 30px;
    top: -30px;
}

.artinf1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.artprec1 {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

//TOPCARD2
.artcontainer2 {
    display: flex;
    width: 40%;
    justify-content: end;
}

.artcard2 {
    background-color: white;
    box-shadow: 0px 4px 4px #00000040;
    height: 400px;
    left: 70px;
    width: 450px;
    padding: 25px;
    text-align: end;
}

.artimg2 {
    text-align: center;
    margin-bottom: 50px;
}

.artinf2 {
    margin-bottom: 20px;
}

.artprec2 {
    display: flex;
    justify-content: flex-end;
}

//TOPCARD3