.indcateve {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
}

.indcatevescont {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 17px;
    justify-content: center;
}

.indcatevesbtns {
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF562;
    text-align: center;
}

.catxevetit {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
}

.catnamadd {
    width: fit-content;
    display: flex;
    padding: 10px;
    margin: auto;
    flex-direction: row;
    justify-items: center;
    border-radius: 10px;
    background-color: white;
    opacity: 50%;
}

.indlocsel {
    margin-left: 17px;
}

.catselfon {
    margin: 0;
}