.modsignincon {
    margin: auto;
    padding: 20px;
    background-color: #E5E5E5;
    align-content: flex-end;
}

.modsigninhea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modbtnclo {}

.modsigninbod {}

.modsignintit {}

.modsignininp .signinema {
    margin: 10px;
}