.navbar {
  display: flex;
  flex-direction: row;
}

.logsba {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sback {
  display: flex;
  background-color: #fefefe;
  border-radius: 25px;
  width: max-content;
  height: max-content;
  margin-left: 30px;
}

.form-control {
  background-color: #fefefe;
  border-radius: 25px;
  border: transparent;
  width: 500px;
}

.sbtn {
  width: max-content;
  background-color: transparent;
  border: transparent;
  color: black;
  padding: 0 10px 0 5px;
}

.fas .fas-bars {
  color: black;
}

.mtogb {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
