<div class="conproart">
  <div class="porarttit">
    <h1>Artículos</h1>
  </div>
  <div class="proartint">
    <div class="proartsea">
      <div class="seaartcon">
        <div class="seartback">
          <input class="searchart" type="text" placeholder="Drone DJI Mavic Pro 2019...">
  
        </div>
      </div>
      <div class="sorcatart">
        <select name="Categoría" id="" placeholder="Categoría">
          <option value="">Fotografía y video</option>
          <option value="">Sonido</option>
          <option value="">Proyectores & pantallas</option>
          <option value="">Drones</option>
        </select>
      </div>
      <div class="adrart">
        <%= link_to 'Agregar artículo', new_product_path %>
      </div>
    </div>

    <div class="conlistart">
      <div class="titlisart">
        <div class="titlisart-cat">
          <p class="tittexart">Categoría</p>
        </div>
        <div class="titlisart-subcat">
          <p class="tittexart">Sub-Categoría</p>
        </div>
        <div class="titlisart-art">
          <p class="tittexart">Artículo</p>
        </div>
        <div class="titlisart-cre">
          <p class="tittexart">Creado</p>
        </div>
        <div class="titlisart-ult">
          <p class="tittexart">Ultima Renta</p>
        </div>
        <div class="titlisart-ren">
          <p class="tittexart">Rentado</p>
        </div>
        <div class="titlisart-cal">
          <p class="tittexart">Reviews</p>
        </div>

      
      
      
      </div>
    
    
    
    
    
    
    
    
    </div>
  
  
  </div>



</div>