<div class="condash">
<div class="dashtit">
  <h1>Dashboard</h1>
</div>
  <div class="conintdash">
    <div class="condashtit">
      <h3>General</h3>
      <select name="" id="">
        <option value="">Díario</option>
        <option value="">Últimos 7 días</option>
        <option value="">Últimos 30 días</option>
        <option value="">Ingresar fechas</option>
      </select>
    </div>
    
    <div class="concardash">

      <div class="cardash">
        <div class="cardashico-ing">
          $$$
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>$17,000.00</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Ingresos</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">52%</p>
        </div>
      </div>

      <div class="cardash">
        <div class="cardashico-ren">
          No.
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>22</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Rentas</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">15%</p>
        </div>
      </div>

      <div class="cardash">
        <div class="cardashico-rm">
          $
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>$772.72</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Ingreso promedio</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">70%</p>
        </div>
      </div>
      
      <div class="cardash">
        <div class="cardashico-rm">
          No.
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>22</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Reviews</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">100%</p>
        </div>
      </div>      

      <div class="cardash">
        <div class="cardashico-car">
         #
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>6</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Artículos</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">0%</p>
        </div>
      </div>



            <div class="cardash">
        <div class="cardashico-rev">
          <i class="fas fa-box-open fa-5x"></i>
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>3</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Categorías</p>
          </div>
        </div>
        <div class="cardashrev">
          <p class="cardashportex">0%</p>
        </div>
      </div>

    </div>
  
<div class="bigbigcon">
<%#=Sección: Solicitudes %>
<div class="bigcon1">
    <div class="condashtit">
        <h3>Solicitudes</h3>    
    </div>
    <div class="concardash">
  
      <div class="cardash">
        <div class="cardashico">
          <i class="fas fa-calendar-check fa-4x"></i>
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>30</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Total</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">22%</p>
        </div>
      </div>

      <div class="cardash">
        <div class="cardashico-car">
          <i class="fas fa-check fa-3x"></i>
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>22</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Aceptadas</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">73.33%</p>
        </div>
      </div>



      <div class="cardash">
        <div class="cardashico-car">
          <i class="fas fa-comments fa-3x"></i>
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>30</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Respuestas</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">100%</p>
        </div>
      </div>

    </div>

</div>

  
<%#=Sección: Reviews%>
  <div class="bigcon2">
    <div class="condashtit">
        <h3>Reviews</h3>    
    </div>
    <div class="concardash">
  
      <div class="cardash">
        <div class="cardashico-niv">
          <i class="fas fa-bolt fa-5x"></i>
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>Super</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Nivel</p>
          </div>
        </div>
        <div class="cardashrev">
          <p>+52 Reviews</p>

        </div>
      </div>

      <div class="cardash">
        <div class="cardashico-rm">
          No.
        </div>
        <div class="coningtex">
          <div class="cardashing">
            <h3>22</h3>
          </div>
          <div class="cardashtex">
            <p class="cardashtittex">Reviews</p>
          </div>
        </div>
        <div class="cardashpor">
          <p class="cardashportex">100%</p>
        </div>
      </div>

      <div class="cardash2">
        <div class="cardashint1">
          <div class="cardashico-revart">
            <i class="fas fa-star fa-1x"></i><i class="fas fa-star fa-1x"></i><i class="fas fa-star fa-1x"></i><i class="fas fa-star fa-1x"></i><i class="fas fa-star fa-1x"></i>
          </div>
          <div class="coningtex">
            <div class="cardashing">
              <h3>4.5</h3>
            </div>
            <div class="cardashtex">
              <p class="cardashtittex">Arrendador</p>
            </div>
          </div>
        </div>

        <div class="cardashint2">
          <div class="cardashico-revart">
            <i class="fas fa-star fa-1x"></i><i class="fas fa-star fa-1x"></i><i class="fas fa-star fa-1x"></i><i class="fas fa-star fa-1x"></i><i class="fas fa-star fa-1x"></i>
          </div>
          <div class="coningtex">
            <div class="cardashing">
              <h3>4.7</h3>
            </div>
            <div class="cardashtex">
              <p class="cardashtittex">Artículos</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

    <div class="condashtit">
        <h3>Grafícas</h3>    
    </div>
    <div class="concardashgra">
      <div class="cardashgra">
        <div class="dashgrafizq">
          PIE CHART / INCOME / BAR CHART
        </div>
        <div class="dashgrafder">
          Datos
        </div>
      </div>
    </div>
  
  </div>

</div>






