<div class="coninbgen">
  <div class="conintinb">
    <div class="coninbizq">
      <div class="inbizqbus">
        <div class="seabar">
          <input class="seachat" type="text" placeholder="Buscar en inbox...">
          <button class="sbtn"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="inbizqcha">
        <div class="inbizqchausu">
          Single chat
        </div>
      </div>
    </div>
    <div class="coninbcen">
      <div class="inbcennom">
        Nombre arrendatario
      </div>
      <div class="inbcencha">
        Chat entre arrendador y arrendatario
      </div>
      <div class="inbcenmen">
        <div class="cenmentex">
          <div class="chatexbar">
            <input class="seachat" type="text" placeholder="Escribe tu mensaje...">
            <button class="sbtn"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="cenmenemo">
          <i class="fa-solid fa-face-smile"></i> 
        </div>
        <div class="cenmenadj">
          <i class="fa-solid fa-paperclip-vertical"></i>
        </div>
        <div class="cenmenenv">
          <div class="btnpas">Enviar</div>
        </div>
      </div>
    </div>
    <div class="coninbder">
      <img class="avatar-large"src="https://res.cloudinary.com/dfy5vakwb/image/upload/v1631294724/bibi/_MG_0046_p8vijw.jpg" alt="Profile picture">
      <h4>Nombre usuario</h4>
      <h3>Artículo a rentar</p>
      <p>No. Articulos rentados</p>
      <p>Calif. usuario</p>
      <p>Fechas de solucitud</p>  
    </div>

  </div>
</div>