<div class="coninbgen">
  <div class="conintinb">
    <div class="coninbizq">
      <div class="inbizqbus">
        Barra de busqueda
      </div>
      <div class="inbizqusu">
        Nombres de usuarios
      </div>
    </div>
    <div class="coninbcen">
      <div class="inbcen">
        <div class="inbcennom">
          Nombre arrendatario
        </div>
        <div class="inbcencha">
          Chat entre arrendador y arrendatario
        </div>
        <div class="inbcenmen">
          Barra general mensaje
          <div class="cenmentex">
            Texto va aqui
          </div>
          <div class="cenmenemo">
            emojis 
          </div>
          <div class="cenmenadj">
            adjuntar img
          </div>
          <div class="cenmenenv">
            btn enviar
          </div>
        </div>
      </div>

    </div>
    <div class="coninbder">
    
    </div>

  </div>
</div>